<div>
    <div class="form-group">
      <label for="name">Name:</label>
      <div><label type="text" id="name">&nbsp;&nbsp;{{name}}</label></div>
    </div>
    <div class="form-group">
      <label for="age">Age:</label>
      <div><label type="number" id="age" >&nbsp;&nbsp;{{age}}</label></div>
    </div>
    <div class="form-group">
      <label for="age">Grades:</label>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" ><span>Id</span> </th>
            <th scope="col" ><span >Grade</span> </th>
            <th scope="col" ><span >Subject</span> </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let grade of grades;" data-cy="entityTable">
            <td>{{ grade.id }}</td>
            <td>{{ grade.gradeNum }}</td>
            <td>{{ grade.subject }}</td>
            <td>
              <!-- <a [routerLink]="['/grade', grade.id, 'view']">{{ grade.id }}</a> -->
            </td>
          </tr>
        </tbody>
      </table>

    </div>
</div>
  