<button (click)="create()" class="btn btn-primary">
  <fa-icon [icon]="faAdd"></fa-icon>
</button>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    @for (student of students; track student.name; let i = $index) {
    <tr>
      <th scope="row">{{ i + 1 }}</th>
      <td>
        {{ student.name }}
      </td>
      <td>
        {{ student.age }}
      </td>
      <td>
        <button (click)="open(student.id)" class="btn btn-info">
          <fa-icon [icon]="faInfo"></fa-icon>
        </button>
      </td>
      <td>
        <button (click)="delete(student)" class="btn btn-danger">
          <fa-icon [icon]="faInfo"></fa-icon>
        </button>
      </td>
      <td>
        <button (click)="view(student.id)" class="btn btn-info">
          <fa-icon [icon]="faInfo"></fa-icon>
        </button>
      </td>
    </tr>
    }
  </tbody>
</table>
